<!Doctype html>
<html>
<head>
  <title> </title>
  <link rel="stylesheet" type="text/css" href="style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
  <!-- <script src="../modules/add.js"></script> -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body ng-app="add" ng-controller="addCtr">

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
    <a href="/index.html" class="navbar-brand"> getCar </a>
  </div>

  <div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Sign Out</a></li>
    </ul>
  </div>
  </div>
</nav>

  <div class="container">
    <div class="col-sm-10" style="width : 600px; margin-left: 250px; margin-top: 50px;">
      <div class="jumbortron">
        <div  class="form-group" style="margin-top:-50px">
            <h1 style="margin-left:150px"> <label>ADD CAR</label> </h1>
        </div>
        <hr>
        <form class="form-horizantal">
            <div class="form-group input-group" >
              <span class="input-group-addon">
              <span class="glyphicon glyphicon-pencil"></span>
            </span>
            <input type="text" ng-model="type"  class="form-control" id="type" placeholder="Type Of Your Car ..." required></input>
          </div>

          <div class="form-group input-group" >
            <span class="input-group-addon">
            <span class="glyphicon glyphicon-pencil"></span>
          </span>
          <input type="text" ng-model="price"  class="form-control" id="price"placeholder="Price Of Your Car ..."  required></input>
        </div>
        <div class="form-group input-group" >
          <span class="input-group-addon">
        <span class="glyphicon glyphicon-pencil"></span>
      </span>
        <input type="text"    ng-model="color"     class="form-control" id="color"  placeholder="Color Of Your Car ..."required></input>
      </div>
      <div class="form-group input-group" >
        <span class="input-group-addon">
        <span class="glyphicon glyphicon-cloud-upload"></span>
      </span>
      <span class="btn btn-default btn-file">
      Browse Image ....  <input type="file"   class="form-control" id="image"    placeholder="Link Of Your Image ..."  required></input>
</span>
    </div>
    <div class="form-group " >
      <button class = "btn btn-primary "type="submit"     ng-click="add()"     class="form-control"id="add" style="width:570px"> Submit </button>
  </div>
        </form>
      </div>
    </div>
  </div>

  <script type="text/javascript">
    var module = angular.module("add",[]);
  module.controller("addCtr",['$scope', '$http', function($scope, $http){
      $scope.image = document.getElementById("image").onchange = function(evt){
        var tgt = evt.target || window.event.srcElement,
        files = tgt.files;
        if(FileReader && files && files.length){
          var fr = new FileReader();
          fr.onload = function(){
                $scope.image.src =  fr.result;
          }
          fr.readAsDataURL(files[0]);

        }
      }

    $scope.add = function(){

      //collect data from user in one obj
    $scope.car = {type : $scope.type , color : $scope.color , price : $scope.price , image : $scope.image.src};

    if($scope.car.type !== undefined && $scope.car.color !== undefined  && $scope.car.price !== undefined && $scope.car.image !== undefined){
       console.log($scope.car)
      //send the car to the server
    $http.post("/add" , $scope.car)
      .then(function(data){
        window.location = "../../index.html"
      }, function(data){
          console.log("ERROR !!")
        })
  }
}
  }])

  </script>


</body>
</html>