<div class = "show" >
	<show ng-repeat = "item in $ctrl.searchtt | filter: search | filter: type | filter: color |filter: price|filter: filterRange | orderBy:'':true"
		  car = "item">
		
	</show>
	
</div>

<div class="filters">
	<div>
		<input type="text" ng-model="search" placeholder="Search ...">
	</div>
	<br/>
	<h4>Filter By: </h4>
	<h5>Type:</h5>
	<form >
		<input type="radio" name="type" ng-model="$parent.type" value = ""> All <br/>
		<div ng-repeat = "item in $ctrl.searchtt | filter : color | unique: 'type' " >
		<input type="radio" name="type" ng-model="$parent.type" value={{item.type}}> {{item.type}} <br/>
		</div>
	</form>
	<br/>
	<h5>Price:</h5>
	<form>

		<input type="radio" name="price" ng-model="$parent.price" ng-click = "all()" vlaue = ""> All <br/>
		<input type="radio" name="price" value="< 5000" ng-model="$parent.price" ng-click = "min()" > Less than 5000$ <br/>
		<input type="radio" name="price" value="5000 - 10000" ng-model="$parent.price" ng-click = "mid()"> 5000$ - 10000$ <br/>
		<input type="radio" name="price" value="> 10000" ng-model="$parent.price" ng-click = "max()"> More than 10000$
	</form>
	<br/>
	<h5>Color:</h5>
	<form>
		<input type="radio" name="type" ng-model="$parent.color" value = "red blue green"> All <br/>
		<div ng-repeat="item in $ctrl.searchtt | filter: search | filter : type | unique: 'color'">
		<input type="radio" name="color" ng-model="$parent.color" value={{item.color}}> {{item.color}} <br/>
		</div>
	</form>
</div>