  	<!doctype html>
<html ng-app="logIn">
  <head>
    <title>My AngularJS App</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>
  <body >
    <div ng-controller="logInCtrl">
      <h2> log in: </h2>
      <form action = "/" id = "myLogin">
      username: <input type = "text" id="username"  ng-model = "username">

      <br/>
      <br/>

      password:  <input type = "password" id="password" ng-model = "password">

      <br/>
      <br/>

      <button type="button" ng-click = "submit()">Login</button>

      </form>

    </div>

<script type="text/javascript">
  var module = angular.module("logIn",[])

module.controller("logInCtrl",['$scope','$http', function($scope, $http){
  
  $scope.submit = function(){
    $scope.user = {user : $scope.username , password : $scope.password};
    console.log($scope.user)
    $http.post("/logIn", $scope.user).then(function(data){
        window.location = "../../index.html"
    })
  }

}]);

</script>
  </body>
</html>
